<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <form action="/posts/<%= post._id %>?_method=put<%= getPostQueryString(true) %>" method="post">

        <div class="input-group mb-3">
          <select id="category" name="category" class="custom-select col-1">
            <option value="Batch" <%= category='Batch' %>>Batch</option>
            <option value="Bash" <%= category='Bash' %>>Bash</option>
            <option value="Python" <%= category='Python' %>>Python</option>
            <option value="Etc" <%= category='Etc' %>>ETC</option>
          </select>
          <input type="text" id="title" name="title" placeholder="제목 입력" value="<%= post.title %>" class="form-control <%= (errors.title)?'is-invalid':'' %>">
          <% if(errors.title){ %>
            <span class="invalid-feedback"><%= errors.title.message %></span>
          <% } %>
        </div>

        <div class="form-group">
          <label for="body">Body</label>
          <textarea id="summernote" name="body" rows="5" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%= post.body %></textarea>
          <% if(errors.body){ %>
            <span class="invalid-feedback"><%= errors.body.message %></span>
          <% } %>
        </div>

        <% if(errors.unhandled){ %>
          <div class="invalid-feedback b-block">
            <%= errors.unhandled %>
          </div>
        <% } %>

        <div>
          <a class="btn btn-info" href="/posts/<%= post._id %><%= getPostQueryString() %>">Back</a>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>

      </form>

      <script>
        $(document).ready(function() {
	//여기 아래 부분
          $('#summernote').summernote({
              height: 788,                 // 에디터 높이
              focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
              lang: "ko-KR",					// 한글 설정
              placeholder: '내용',
                  disableResizeEditor: true,	// 크기 조절 기능 삭제
                  toolbar: [
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                    ['color', ['forecolor','color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert',['picture','link','video']],
                    ['view', ['fullscreen', 'help']]
                  ],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
                fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
                })
          });
      </script>

    </div>
  </body>
</html>
