<!DOCTYPE html>
<html>
    <head>
      <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/diarystyle.css" type="text/css" />
        
    </head>
    <body>
      <%- include('../partials/nav') %>
        <nav class="navbar navbar-light sticky-top bg-light">
        <a class="navbar-brand" href="/diary"><i class="fab fa-instagram"></i> KongJgram</a>
            <ul class="nav ">
                <li class="nav-item">
                  <a href="https://instagram.com/kongji_s?utm_medium=copy_link" target="_blank" class="btn btn-primary btn-md btn-primary">@kongji_s</a>
                </li>
            </ul>
        </nav>
        

        
        
        <div class="row justify-content-center">
          <% if(isAdminLoggedin){ %>
            <div class="col-md-7 col-lg-8 col-xl-9 order-sm-2 order-md-1">
              <div class="card mx-auto custom-card">
                <img class="img-fluid img-thumbnail" id="img" src="https://kongjay.com/uploads/1625897938307.png" alt="Card image cap">
                <div class="card-body px-3">
                  <h5 class="card-title"><%= time %></h5>
                  <div class="modal-footer"></div>
                  <textarea id="diarybody" class="form-control" style="height: 5em;"> </textarea>
                  <div class="modal-body ">
                    <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
                      <input type="file" id="FILE_TAG" name="FILE_TAG">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" onClick="window.location.reload()" class="btn btn-danger btn-sm">취소</button>
                    <button type="button" class="btn btn-success btn-sm" onclick="javascript:sendFile()"> 작성하기</button>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
          
          <% diary.forEach(function(diary) { %>
            <div class="col-md-7 col-lg-8 col-xl-9 order-sm-2 order-md-1">
              <div class="card mx-auto custom-card">
                <% if(diary.title != "none") { %>
                  <img class="card-img" src="<%= diary.title %>" alt="Card image cap">
                <% } %>
                <div class="card-body px-3">
                  <h5 class="card-title"><%= diary.createdAt %></h5>
                  <div class="modal-footer"></div>
                    <p class="card-text"><%= diary.body %></p>
                    <% if(isAdminLoggedin){ %>
                      <button type="button" onclick="javascript:deleteDiary('<%= diary._id %>')" class="btn btn-danger btn-sm">삭제</button>
                      <p id="deleteid" value="<%= diary._id %>" style="display: none;"></p>
                    <% } %>
                </div>
              </div>
            </div>
            <script>
              function deleteDiary(id) {
                var formData = {
                  _id : id
                }
                $.ajax({
                  type : "POST",
                  contentType : "application/json",
                  url : "/diary/delete",
                  data : JSON.stringify(formData),
                  dataType : 'json'
                });
                window.location.reload()
              }
            </script>
          <% }) %>

      </div>
    </body>
    <script>
      
      var sel_file;
  
      $(document).ready(function() {
          $("#FILE_TAG").on("change", handleImgFileSelect);
      });
  
      function handleImgFileSelect(e) {
          var files = e.target.files;
          var filesArr = Array.prototype.slice.call(files);
  
          var reg = /(.*?)\/(jpg|JPC|jpeg|JPEG|png|PNG|bmp|BMP|HEIC|heic)$/;
  
          filesArr.forEach(function(f) {
              if (!f.type.match(reg)) {
                  alert("확장자는 이미지 확장자만 가능합니다.");
                  return;
              }
  
              sel_file = f;
  
              var reader = new FileReader();
              reader.onload = function(e) {
                  $("#img").attr("src", e.target.result);
              }
              reader.readAsDataURL(f);
          });
      }

      function sendFile() {
        var data = new FormData();
        data.append( "file", $("#FILE_TAG")[0].files[0] );
        
        $.ajax({
          data : data,
          type : "POST",
          url : "/imageUpload",
          enctype: 'multipart/form-data',
          cache: false,
          contentType: false,
          processData: false,
          success:function(response) {
               alert("포스팅 성공!");
               if(response.url) {
                sendBody(response.url);
               } else {
                 sendBody("none");
               }
               
           },
           error: function (jqXHR) 
           { 
               alert("이미지 업로드 실패!!"); 
           }
        });
      }

      function sendBody(url) {
        var title = url;
        var formData = {
          title : title,
          body : $("#diarybody").val()
        }
        $.ajax({
          type : "POST",
          contentType : "application/json",
          url : "/diary/new",
          data : JSON.stringify(formData),
          dataType : 'json'
        });

        window.location.reload()
      }

      

      
    </script>
</html>